.boxed {
  position:absolute;
            
}


button {
  flex: wrap inherit;
  justify-content: space-evenly;
  margin-left: 20px;
  border: top 1px solid black;

}

input {
  flex: wrap inherit;
  justify-content: space-evenly;
  margin-left: 10px;
}
