

.containerchoice {
    background-color: hsl(240,100%,90%);
    height:120vh;
    width:100vw;
    padding:1em;
    display:flex;
    flex-direction:column;
    align-items:center; 
    /*justify-content:center;*/
}

li {
    text-overflow: hide;
}

.innerchoice {
    box-sizing: border-box;
    background-color: white;
    padding:20px;
    margin-right: 40px;
    margin-left:10px;
    margin-top:20px;
    display: flexbox;

}
.boxedit {
    padding: 12vh 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
}

.boxed {
   background: rgb(154, 240, 247);
   flex-basis: 30%;
   padding-bottom: 5px; 
   display:flexbox;
   box-sizing: border-box;
   margin: 2px;
 }

input {
    height:20px;
    width:20px;
}

field { 
    margin-left:20px;
 text-align-last: center;

}
#gametime {
    width: 150px;

}



.btnwrapper {
  max-width:1400px;
  margin:40px auto 0 auto;
  background-color: none;
  padding:10px 0;
  display: flex;
  align-items: center;
  justify-content:space-around; 
  flex-wrap: wrap;  
}

@media screen and (max-width:400px) {
    .btnwrapper {background-color: pink;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
           display: flex;
            align-items: stretch;
            justify-content: space-between;
            justify-content: space-around;  
    }
}


button {
    background-color: hsl(248,54%,58%);
    color: white;
    width:150px;
    display:flex;
    box-sizing: border-box;
    margin-bottom: 2px;
    margin-top:  2px;
    align-content: center;
    margin-inline-end: 50px;
    justify-content: center;
   /* flex-basis: 33%;
   flex-direction:column-reverse;
    margin-top: 20px;
    justify-content: space-around;
    justify-content: space-between;
   margin-right: 90px;
    margin-left: 50px;
    border-radius: 10px;
    */
}



@media screen and (max-width:400px) {
    .boxedit {background-color: pink;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
           display: flex;
            align-items: stretch;
            justify-content: space-between;
            justify-content: space-around;  
    }
}
