@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Nova+Square&family=Roboto+Mono:wght@500&family=Roboto:wght@700&family=Rubik:ital,wght@1,300&family=Russo+One&display=swap');

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
    font-family: Nova Square;
  }
  
  body{
    /* background-image: url(./world-map-lisa-middleton.jpg);  */
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./Images/);
    /* opacity:0.5; */
    background-position: center;
    background-size: cover;
      --hue:hsl(240, 100%, 90%);
      padding: 0;
      margin: 0;
      display: flex;
      width: 100vw;
      height: 100vw;
      justify-content: center;
      align-items: center;
      background-color: hsl(240, 100%, 90%);
      }
  
      
  .container{
      width: 800px;
      max-width: 100%;
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 0 10px;
     }

     .btn-grid{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 10px;
        margin: 20px 0; 
      }
    .btn{
         --hue: var(--hue-neutral);
         border: 1px solid hs(var(--hue),100% ,30%);
         /* background-color: hsl(260, 50%, 61%); */
         background: linear-gradient(to top,hsl(260, 50%, 61%) ,rgb(229, 212, 230));
         /* background: hsl(240, 100%, 90%) */
         /* transition: all .8s; */
         border-radius: 40px;
         padding: 10px 10px;
         color: rgb(0, 0, 0);
         outline: none;
         /* cursor: pointer; */
         font-family: Nova Square;
        font-size: 18px;  
      
         }
        
    .btn:hover{
        background: linear-gradient(to bottom,hsl(260, 50%, 61%) ,rgb(229, 212, 230));
        transition: all 6s;
        cursor: pointer;
      
      }
    .btn:focus{
        outline: 0;
  
        } 
        
   
        .img-answer{
            max-height: 100%;
            /* background-color: aquamarine; */
           object-fit:contain;
           width: 700px;
           height: 500px;
           background-position: center;
           background-size: cover;
           background-image: url(./shanghai.jpeg);
           }  
           
           <html>
           
